<!DOCTYPE html>
<html>

<head>
    <title>Progress</title>
</head>

<body>
    <h1>Chapter Progress</h1>
    <table>
        <thead>
            <tr>
                <th> Number</th>
                <th>stuentId</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <% enrolls.forEach((enroll, index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= enroll.studentId %>
                       
                    </td>
                    <% for (let user of users) { %>
                       
                           
                        <% if (user.id == enroll.studentId) { %>
                            
                            <td>
                                <%= user.firstName %> <%= user.lastName%>
                            </td>
                        
                        <% } %>
                        
                        <% } %>
                  <td>
                    <a href="/student/<%= enroll.studentId %>/<%= packId %>">view progress</a>
                  </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>